body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
thead > tr > th:first-child{
  color: white;
}
.colorBox{
  height: 20px;
  width: 20px;
}