extends ../template/layout
include ../mixins/form-helper

block content
  h1 To Do List
  h2 New Task
  p: a(href= '/todo') To Do Page
  form(action='/todo', method='post')
    mixin field('color', 'Color', 'red', true)
    mixin field('task', 'Task name', 'homework', false)
    mixin field('due', 'Due', '11/14/13', false)
    button(type='submit') Save Item

