!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Party Planner
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 Party Planner & RSVP Application
    %input#add{type: 'button', value: 'Add Row'}
    %table
      %tr.titleRow
        %th Name
        %th Food
        %th Controls
        %th Nuke
        %th
        %th

    %script{src:'js/jquery-1.10.2.min.js'}
    %script{src:'js/underscore-min.js'}
    %script{src:'js/main.js'}

