doctype 5
html
  head
    title Cats!!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My cat page
    p Welcome to Node
    img(src='http://jasonlefkowitz.net/wp-content/uploads/2013/07/117563-cats-very-cute-cat.jpg')
