.row.nav
  .small-1.columns.small-offset-1
      a.button.small.radius.expand(href='/') Home
  .small-1.columns
      a.button.small.radius.expand(href='/songs') Songs
  .small-2.columns
      a.button.small.radius.expand(href='/songs/new') New Song
  .small-1.columns
      a.button.small.radius.expand(href='/artists') Artists
  .small-2.columns
      a.button.small.radius.expand(href='/artists/new') New Artist
  .small-1.columns
    a.button.small.radius.expand(href='/genres') Genres
  .small-2.columns
    a.button.small.radius.expand(href='/genres/new') New Genre
  .small-1.columns