.row.nav
  .small-2.columns.small-offset-3
      a.button.small.radius.expand(href='/') Home Page
  .small-2.columns
      a.button.small.radius.expand(href='/songs') Songs Page
  .small-2.columns
      a.button.small.radius.expand(href='/songs/new') New Song Page
  .small-3.columns